.card{
    position: relative;
    /*border: 1px white solid;*/

    display: flex;
    flex-direction: column;
}

.values{
    background-color: var(--dark-blue);

    border-radius: 16px 16px 16px 16px;
    padding: 25px;
    height: 85%;
    margin-top: 45px;

    
 
}

.values:hover{
    background-color: hsl(235, 46%, 35%);;
    cursor: pointer;
}

.top-image-container{
    width: 100%;
    text-align: right;
    padding-right: 16px;
    border-radius: 16px 16px 0 0;
    position: absolute;
    z-index: -1;

    
}




.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.current-value {
    font-weight: 100;
    font-size: 64px;
}
.last-week-value {
    font-size: 12px;
    color: var(--pale-blue);
}

.three-dot:hover{
    cursor: pointer;
    font-weight: bold;
}


@media (min-width:800px){
    .card{
       
    }

    .top-image-container{
        position: absolute;
    }
}